## Basic Python

In [5]:
# Given two integer numbers, return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.


# a = int(input('enter first num'))
# b = int(input('enter sec num'))

# if a * b <= 1000:
#     print(a*b)
# else:
#     print(a+b)


def mult_or_sum(a,b):
    product = a * b
    if product <= 1000:
        return product
    else:
        return a+b

result = mult_or_sum(5,3)
print("multiplication is", result)

multiplication is 15

In [11]:
# Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

previous_num =0
for i in range(1,11):
    x_sum = previous_num + i
    print("Current Number", i, "Previous Number ", previous_num, " Sum: ", x_sum)
    previous_num =i

Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17
Current Number 10 Previous Number  9  Sum:  19

In [14]:
#Write a program to accept a string from the user and display characters that are present at an even index number.

#For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.


my_str = input("Enter a string")

x= list(my_str)
for i in x[0::2]:
    print(i)

Enter a string swetha

s
e
h

In [19]:
#Write a program to remove characters from a string starting from zero up to n and return a new string.

#For example:

#remove_chars("pynative", 4) so output must be tive. Here, we need to remove the first four characters from a string.
#remove_chars("pynative", 2) so output must be native. Here, we need to remove the first two characters from a string.


def remove_str(word, n):
    x= word[n::]
    return x

print(remove_str('swetha',2))

etha

In [20]:
#Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

def first_last_same(numlist):
    first_num = numlist[0]
    last_num = numlist[-1]
    if first_num == last_num:
        return True
    else:
        return False

first_last_same([2,5,7,10,2])

True

In [21]:
#iterate the given list of numbers and print only those numbers which are divisible by 5

num_list = [10, 20, 33, 46, 55]

for i in num_list:
    if i%5 ==0:
        print(i)

10
20
55

In [22]:
#Return the count of a given substring from a string

str_x = "Emma is good developer. Emma is a writer"
# use count method of a str class
cnt = str_x.count("Emma")
print(cnt)

2

In [23]:
# pattern

for num in range(10):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [29]:
#Write a program to check if the given number is a palindrome number.

def is_pallindrome(number):
    if number == number[::-1]:
        return True
    else:
        return False

print(is_pallindrome('swetha'))

False

In [34]:
#Create a new list from two list using the following condition

#Given two list of numbers, write a program to create a new list such that the new list should contain 
#odd numbers from the first list and even numbers from the second list.

def merge_list(num1, num2):
    new_list = []

    for i in num1:
        if i%2 != 0:
            new_list.append(i)

    for i in num2:
        if i%2 == 0:
            new_list.append(i)

    return new_list

num1 = [24,27,33,32,55]
num2 = [12,13,15,86,22]

print("New list is", merge_list(num1, num2))

New list is [27, 33, 55, 12, 86, 22]

In [42]:
#Write a Program to extract each digit from an integer in the reverse order.
#For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits

# num = (input("enter a number"))

# print(list(num[::-1]))


def reverse_num(number):
    s = str(number)
    s = s[::-1]
    number = int(s)
    return number

print(reverse_num(5678))

8765

In [50]:
# print multiplication table

num = int(input("Display the multiplication table of:"))

for i in range(1,11):
    print(num, 'x', i, '=', num*i)

Display the multiplication table of: 7

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [58]:
#pattern problem

for i in range(6,0,-1):
    for j in range(0,i-1):
        print('*', end = " ")

    print(" ")

* * * * *
* * * *
* * *
* *
*

In [60]:
#Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

#Note here exp is a non-negative integer, and the base is an integer.

def exponent(base, exp):
    return base ** exp

(exponent(2,5))

32

In [71]:
#Count the frequency of a particular character in a provided string.

s= input("Enter a string")
word = input("Enter the character")

count = 0
for i in s:
    if i == word:
        count += 1
    
    
print(count)

Enter a string my name is swetha
Enter the character s

2

In [72]:
#extract username from mail id
s = 'swethag040@gmail.com'
pos = s.index('@')

print(s[0:pos])

swethag040

In [74]:
#Write a program which can remove a particular character from a string.

s = input("Enter a string")
term = input("Enter a character you wud like to remove")

result = " "

for i in s:
    if i != term:
        result += i

print(result)

Enter a string hi, how are you
Enter a character you wud like to remove a

 hi, how re you

In [80]:
#Write a program to split the  words in a string without split()

s = input("Enter a string")

temp = " "
l = []

for i in s:
    if i != " ":
        temp = temp +i
    else:
        l.append(temp)
        temp = " "
l.append(temp)
print(l)

Enter a string ih how are you

[' ih', ' how', ' are', ' you']

In [82]:
sentence = 'This is a sentence'
split_value = []
tmp = ''
for c in sentence:
    if c == ' ':
        split_value.append(tmp)
        tmp = ''
    else:
        tmp += c
if tmp:
    split_value.append(tmp)

print(split_value)

['This', 'is', 'a', 'sentence']

In [85]:
#Write a python program to convert a string to title case without using the title()

s = input("Enter a string")

L =[]
for i in s.split():
    L.append(i[0].upper() + i[1:].lower())

print(" ".join(L))

Enter a string am professor

Am Professor

In [1]:
#Write a program to accept two numbers from the user and calculate multiplication

m1 = int(input("enter first num"))
m2 = int(input("enter sec num"))

print(m1*m2)

enter first num 2
enter sec num 3

6

In [3]:
#Display three string “Name”, “Is”, “James” as “Name**Is**James

print("Name", "Is", "James" , sep ="**")

Name**Is**James

In [7]:
# Accept a list of 5 float numbers as an input from the user

numbers = []

for i in range(0,5):
    print("Enter the numbers")
    item = float(input())
    numbers.append(item)

print("List of elements are:", numbers)

Enter the numbers

 2.3

Enter the numbers

 2.44

Enter the numbers

 4.5

Enter the numbers

 55.5

Enter the numbers

 44.5

List of elements are: [2.3, 2.44, 4.5, 55.5, 44.5]

In [10]:
# Write a program to take three names as input from a user in the single input() function call.

names = []

for i in range(0,3):
    print("Enter the 3 names:")
    item = input()
    names.append(item)

print(names)

Enter the 3 names:

 g

Enter the 3 names:

 s

Enter the 3 names:

 s

['g', 's', 's']

In [12]:
# Write a program to use string.format() method to format the following three variables as per the expected output

totalMoney = 1000
quantity = 3
price = 450

#I have 1000 dollars so I can buy 3 football for 450.00 dollars

print(f" I have {totalMoney} dollars so I can buy {quantity} football for {price} dollars")

 I have 1000 dollars so I can buy 3 football for 450 dollars

In [16]:
# Print First 10 natural numbers using while loop

i= 1

while i <=10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [34]:
# pattern

rows = int(input("Enter no of rows:"))

for i in range(1, rows+1):
    for j in range(1, i+1):
        print(j, end = " ")
    print(" ")

Enter no of rows: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [33]:
# Calculate the sum of all numbers from 1 to a given number

#Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

#For example, if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)

sum = 0
n = int(input("enter the number:"))

for i in range(0, n+1):
    sum += i
print(sum)

enter the number: 100

5050

In [38]:
# Write a program to print multiplication table of a given number

n = int(input("Enter number:"))

for i in range(1, 11):
        print(n ,'x', i ,'=', n * i)

Enter number: 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [43]:
# Display numbers from a list using loop
# The number must be divisible by five
# If the number is greater than 150, then skip it and move to the next number
# If the number is greater than 500, then stop the loop

numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
    if i > 500:
        break
    elif i > 150:
        continue
    elif i % 5 == 0:
        print(i)

75
150
145

In [47]:
# Count the total number of digits in a number
num = int(input("Enter the number"))
count = 0

while num != 0:
    num //= 10
    count += 1

print("Number of digits: " + str(count))

Enter the number 1234

Number of digits: 4

In [53]:
# pattern

n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [57]:
# Print list in reverse order using a loop

list1 = [10, 20, 30, 40, 50]

new_list = reversed(list1)

for i in new_list:
    print(i, end = " ")

50 40 30 20 10

In [65]:
list1 = [10, 20, 30, 40, 50]

size = len(list1) -1
for i in range(size, -1, -1):
    print(list1[i], end = " ")

50 40 30 20 10

In [69]:
# Display numbers from -10 to -1 using for loop

for i in range(-10,0,1):
    
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [1]:
# Write a program to display all prime numbers within a range

lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper+1):
    if num >1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [2]:
# Display Fibonacci series up to 10 terms

num1 = 0
num2 = 1

n = int(input("Enter the number:"))

for i in range(n):
    print(num1, end = " ")
    res = num1 + num2

    num1 = num2
    num2 = res

Enter the number: 10

0 1 1 2 3 5 8 13 21 34

In [4]:
# factorial of given number

num = int(input("ENter the number:"))

factorial = 1

if num <0:
    print("Factorial dosent exist for negative numbers")
elif num ==0:
    print("Factorial of 0 is 1")

else:
    for i in range(1, num+1):
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

ENter the number: 10

The factorial of 10 is 3628800

In [10]:
#  Reverse a given integer number

n = str(input("Enter the integer:"))

reverse_num = n[::-1]
print(int(n[::-1]))

Enter the integer: 123

321

In [13]:
# Use a loop to display elements from a given list present at odd index positions

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in my_list[1::2]:
    print(i, end = " ")

20 40 60 80 100

In [20]:
# Find the sum of the series upto n terms

n = int(input("Enter the no of sequence require"))

start = int(input("Enter the number"))
sum_seq = 0

for i in range(0, n):
    print(start, end = "+")
    sum_seq += start
    start = start * 10 + 2
    
print("\nsum of above series is:", sum_seq)

Enter the no of sequence require 4
Enter the number 2

2+22+222+2222+
sum of above series is: 2468

In [23]:
# pattern

rows = int(input("Enter the rows:"))

for i in range(0, rows+1):
    for j in range(0, i+1):
        print("*", end = " ")
    print('\r')

for i in range(rows, 0,-1):
    for j in range(0, i-1):
        print("*", end = " ")
    print('\r')

Enter the rows: 5

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * *
* * *
* *
*

In [24]:
# Reverse a list in Python
list1 = [100, 200, 300, 400, 500]

print(list1[::-1])

[500, 400, 300, 200, 100]

In [28]:
# Concatenate two lists index-wise

list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

list3 = [x+y for x,y in zip(list1,list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

In [30]:
# Turn every item of a list into its square

numbers = [1, 2, 3, 4, 5, 6, 7]

square = [i ** 2 for i in numbers]
print(square)

[1, 4, 9, 16, 25, 36, 49]

In [33]:
# Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

list3 = [x+y for x in list1 for y in list2]
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [36]:
# Iterate both lists simultaneously

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for x,y in zip(list1,list2[::-1]):
    print(x,y)

10 400
20 300
30 200
40 100

In [38]:
# Remove empty strings from the list of strings

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

print(list(filter(None,list1)))

['Mike', 'Emma', 'Kelly', 'Brad']

In [41]:
# Add new item to list after a specified item
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

(list1[2][2].append(7000))
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [43]:
# Extend nested list by adding the sublist
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

list1[2][1][2].extend(sub_list)

print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [45]:
# Replace list’s item with new value if found

list1 = [5, 10, 15, 20, 25, 50, 20]

list1[3] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [49]:
# Remove all occurrences of a specific item from a list
list1 = [5, 20, 15, 20, 25, 50, 20]

def remove_value(item, num):
    return [i for i in item if i != num]

remove_value(list1, 20)

[5, 15, 25, 50]

In [51]:
list1 = ['xyz', 'zara', 'PYnative']
print (min(list1))

PYnative

In [52]:
aList = [5, 10, 15, 25]
print(aList[::-2])

[25, 10]

In [53]:
# Reverse the tuple

tuple1 = (10, 20, 30, 40, 50)
tuple1[::-1]

(50, 40, 30, 20, 10)

In [54]:
# Access value 20 from the tuple
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

tuple1[1][1]

20

In [56]:
# Create a tuple with single item 50
item = (50,)

print(type(item))

<class 'tuple'>

In [59]:
# Unpack the tuple into 4 variables

tuple1 = (10, 20, 30, 40)

(a,b,c,d) = tuple1

print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [61]:
# Swap two tuples in Python

tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1, tuple2 = tuple2, tuple1
 

print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [63]:
# Copy specific elements from one tuple to a new tuple

tuple1 = (11, 22, 33, 44, 55, 66)

#tuple2: (44, 55)
tuple2 = tuple1[3:5]
tuple2

(44, 55)

In [65]:
# Modify the tuple

tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

In [68]:
#Sort a tuple of tuples by 2nd item
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

#(('c', 11), ('a', 23), ('d', 29), ('b', 37))

tuple1 = tuple(sorted(list(tuple1), key = lambda x : x[1]))
tuple1

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [72]:
# Check if all items in the tuple are the same

tuple1 = (45, 45, 45, 45)

def check(t):
    return all(i == t[1] for i in t)

print(check(tuple1))

True

In [74]:
tuple1 = (45, 45, 45, 45)

for i in tuple1:
    if i == tuple1[0]:
        print(True)
    else:
        print(False)

True
True
True
True

In [76]:
# Merge two tuples and remove duplicates
def merge_and_remove_duplicates(tup1, tup2):
    return tuple(set(tup1).union(tup2))

tup1 = (1, 2, 3)
tup2 = (3, 4, 5)
result = merge_and_remove_duplicates(tup1, tup2)
print(result)  # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [85]:
# Count the number of even and odd numbers in a tuple.
def count_even_odd(tup):
    even_count = sum(1 for x in tup if x%2 == 0)
    odd_count = len(tup)-even_count
    return even_count, odd_count

tup = (2,3,4,5,6,7,8,1)
even, odd = count_even_odd(tup)
print(even)
print(odd)

4
4

In [89]:
# Find the product of all elements in a tuple.

def product(tup):
    product = 1
    for i in tup:
        product = product * i
    return product

tup = (1,2,3,4,5)
product(tup)

120

In [90]:
#Split a tuple into equal parts

def split_tuple(tup, n):
    avg = len(tup) // n
    split_result = [tup[i:i+avg] for i in range(0, len(tup), avg)]
    return tuple(split_result)

tup = (1, 2, 3, 4, 5, 6,7)
n = 2
result = split_tuple(tup, n)
print(result)  # Output: ((1, 2, 3), (4, 5, 6))

((1, 2, 3), (4, 5, 6), (7,))

In [96]:
# Create a function in Python.Write a program to create a function that takes two arguments, name and age, and print their value.

def name_age(name,age):
    return name,age

name_age('swetha',27)

('swetha', 27)

In [99]:
# Create a function with variable length of arguments

def func1(*args):
    for i in args:
        print(i)

func1(10,22,33,44)

10
22
33
44

In [101]:
# Return multiple values from a function

def calculation(a,b):
    addition = a+b
    subtract = a-b
    return addition,subtract

res = calculation(20,30)
print(res)

(50, -10)

In [104]:
#  Create a function with a default argument

def name_sal(name, salary=2000):
    return name, salary

res = name_sal('Swetha', 175550)
print(res)

('Swetha', 175550)

In [107]:
#  Create an inner function to calculate the addition in the following way

#Create an outer function that will accept two parameters, a and b
#Create an inner function inside an outer function that will calculate the addition of a and b
#At last, an outer function will add 5 into addition and return it

def add(a,b):
    sum = a+b
    return sum + 5

res = add(5,6)
print(res)

16

In [108]:
# Create a recursive function
#Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.

def addition(num):
    if num:
        return num + addition(num-1)
    else:
        return 0

res = addition(10)
print(res)

55

In [109]:
# Assign a different name to function and call it through the new name

def display_student(name, age):
    print(name, age)

display_student("Emma", 26)

showStudent = display_student

showStudent("Emma", 26)

Emma 26
Emma 26

In [112]:
# Generate a Python list of all the even numbers between 4 to 30

list = []

num1 = int(input("Enter num1"))
num2 = int(input("Enter num2"))     

for i in range(num1, num2+1):
    if i %2 ==0:
        list.append(i)
    else:
        pass
        

print(list)

Enter num1 4
Enter num2 30

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [120]:
# Find the largest item from a given list

x = [4, 6, 8, 24, 12, 2]
print(max(x))

24

In [126]:
x = [4, 6, 8, 24, 12, 2]
x.sort()
print(x)
print(x[-1])

[2, 4, 6, 8, 12, 24]
24

In [127]:
# Add a list of elements to a set

sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_set.update(sample_list)
print(sample_set)

{'Yellow', 'Red', 'Orange', 'Green', 'Blue', 'Black'}

In [129]:
# Return a new set of identical items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection(set2)

{30, 40, 50}

In [130]:
# Get Only unique items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.union(set2)

{10, 20, 30, 40, 50, 60, 70}

In [133]:
# Update the first set with items that don’t exist in the second set

set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference_update(set2)
print(set1)

{10, 30}

In [137]:
# Remove items from the set at once

set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})
print(set1)

{50, 40}

In [139]:
# Return a set of elements present in Set A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference(set2)

{10, 20, 60, 70}

In [140]:
# Check if two sets have any elements in common. If yes, display the common elements
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.isdisjoint(set2):
    print("Two sets has no common element")
else:
    print("Two sets has common elements")
    print(set1.intersection(set2))

Two sets has common elements
{10}

In [141]:
# Update set1 by adding items from set2, except common items

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

In [145]:
# Remove items from set1 that are not common to both set1 and set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)

{40, 50, 30}

In [148]:
# Convert two lists into a dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

dict(zip(keys, values))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [150]:
# Merge two Python dictionaries into one

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [154]:
# Print the value of key ‘history’ from the below dict

sampleDict = {"class": {"student": { "name": "Mike",  "marks": { "physics": 70, "history": 80 }} }}


print(sampleDict['class']['student']['marks']['history'])

80

In [155]:
#  Initialize dictionary with default values
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

# expected output
# {'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

res = dict.fromkeys(employees, defaults)
print(res)

# Individual data
print(res["Kelly"])

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}
{'designation': 'Developer', 'salary': 8000}

In [161]:
# Create a dictionary by extracting the keys from a given dictionary

# Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

new_dict = {k : sample_dict[k] for k in keys}
print(new_dict)

{'name': 'Kelly', 'salary': 8000}

In [163]:
# Delete a list of keys from a dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]

for k in keys:
    sample_dict.pop(k)

print(sample_dict)

{'age': 25, 'city': 'New york'}

In [164]:
# Check if a value exists in a dictionary
sample_dict = {'a': 100, 'b': 200, 'c': 300}

if 200 in sample_dict.values():
    print("200 is present")

200 is present

In [174]:
# Rename key of a dictionary
# Write a program to rename a key city to a location in the following dictionary

sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sample_dict['location'] = sample_dict.pop('city')

print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [179]:
# Get the key of a minimum value from the following dictionary

sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

print(min(sample_dict))

Math

In [181]:
# Change value of a key in a nested dictionary

sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

sample_dict['emp3']['salary'] = 8500

print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [183]:
# Print current date and time in Python

import datetime
print(datetime.datetime.now())

2024-04-12 12:25:48.559249

In [190]:
# Missing Integer 

def find_missing_element(arr):
    N = max(arr);
    expected_sum = (N * (N + 1)) // 2
    actual_sum = sum(arr)
    return expected_sum - actual_sum

arr = [1,2,3,5,6,8]
find_missing_element(arr)

11

## Interview Questions

In [202]:
# 1. How do you reverse a string in Python?
s = "Hello World"

def rev_string(s):
    return s[::-1]

rev_string(s)

'dlroW olleH'

In [203]:
#Write a function that checks if a given word is a palindrome
def is_palindrome(word):
    return word == word[::-1]

In [207]:
# 4. How can you remove duplicates from a list?
l = [1,2,2,4,4,5,6]

def remove_duplicates(l):
    return list(set(l))

remove_duplicates(l)

TypeError: 'list' object is not callable

In [208]:
# What is a lambda function? Provide an example.

add = lambda x,y:x+y
print(add(2,3))

5

In [210]:
# 3.How do you retrieve all the keys, values, and items from a dictionary?
d = {'name':'John','age':24,}

print(d.keys())
print(d.values())
print(d.items())

dict_keys(['name', 'age'])
dict_values(['John', 24])
dict_items([('name', 'John'), ('age', 24)])

In [211]:
# how can you extract only john from dict?
d['name']

'John'

In [212]:
# How do you create an empty set in Python, and what is the key difference between an empty set and an empty dictionary?

s = {}
print(type(s))

a = set()
print(type(a))

<class 'dict'>
<class 'set'>

In [216]:
# 3.If you have an empty set, how would you add elements using a built-in function in Python?

my_set = set()

my_set.add(2)
my_set.add("swetha")
my_set.add(2.345)

print(my_set)

{2, 2.345, 'swetha'}

In [217]:
# 5.How can you find the intersection of two sets in Python?
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

print(set1.intersection(set2))

{3, 4, 5}

In [219]:
# 2.Write a code to create a dictionary using dictionary comprehension?

my_dict = {x: x **2 for x in range(0,4)}
print(my_dict)

{0: 0, 1: 1, 2: 4, 3: 9}

In [220]:
# 3.What does .pop() method do in dictionary?

#Pop inside dictionary can be used to remove the last item as well as any specific item. 
# While in list the pop was just used to remove the last element.

dict1={"name": "mradul","age": 23,"city": "indore"}
print(dict1)

print('-----------------')

dict1.pop("city")
print(dict1)

{'name': 'mradul', 'age': 23, 'city': 'indore'}
-----------------
{'name': 'mradul', 'age': 23}

In [223]:
# 4.How do you iterate through both keys and values simultaneously in a dictionary??

knights = {'gallahad': 'the pure', 'robin': 'the brave'}

for k,v in knights.items():
    print(k,v)

gallahad the pure
robin the brave

In [227]:
# 5.Explain the purpose and usage of the update() method in Python dictionaries. Provide an example to illustrate its functionality.

#The update() method in Python dictionaries is used to merge the key-value pairs of one dictionary into another. 
#It takes either another dictionary or an iterable of key-value pairs as its argument and adds them to the calling dictionary. 
#If a key from the provided dictionary already exists in the calling dictionary, its value will be updated with the new value.

dict_12 = {"name" : "Swetha", "Occupation" : "Data Scientist", "salary" : 125000}
dict_2 = {"name" : "Swetha", "Occupation" : "Lead Data Scientist", "salary" : 2005000}

dict_12.update(dict_2)
print(dict_12)

{'name': 'Swetha', 'Occupation': 'Lead Data Scientist', 'salary': 2005000}

In [228]:
# 2.How can you reverse a tuple in Python?

#Answer: Tuples are immutable, so you cannot reverse them in place. 
#However, you can create a new tuple with reversed elements using slicing

tup_1 = (1,2,3,4)
rev_tup_1 = tup_1[::-1]
print(rev_tup_1)

(4, 3, 2, 1)

In [234]:
# 3.How can you sort a list of tuples based on the second element of each tuple?


my_list = [(3, 7), (1, 4), (2, 8)]
sorted_list = sorted(my_list, key= lambda x: x[1])
sorted_list

TypeError: 'NoneType' object is not callable

In [235]:
# 5.Find the first and last elements of a tuple.

def first_last(ele):
    return ele[1], ele[-1]

ele = (10, 20, 30, 40, 50)
first, last = first_last(ele)
print("First:", first)  # Output: First: 10
print("Last:", last)    # Output: Last: 50

First: 20
Last: 50

In [236]:
# 1.How do you reverse a list in Python?
l = [1,2,3,4,5]

def reverse_list(l):
    return l[::-1]

print(reverse_list(l))

[5, 4, 3, 2, 1]

In [239]:
# 2. Explain the difference between append() and extend() methods in Python lists.

#Answer:

#append() adds a single element to the end of the list.
#extend() adds elements of an iterable (list, tuple, etc.) to the end of the list.
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.append(4)  
print(list1)
list1.extend(list2) 
print(list1)

[1, 2, 3, 4]
[1, 2, 3, 4, 4, 5, 6]

In [244]:
# 4. Explain the pop() method in Python lists.

# Answer: The pop() method removes and returns the item at the specified index (default is the last item).

my_list = [1, 2, 3, 4, 5]
my_list.pop(1)
print(my_list)

[1, 3, 4, 5]

In [247]:
# 5. Explain list comprehension in Python.

#Answer: List comprehension is a concise way to create lists. 
#It consists of an expression followed by at least one for clause and zero or more if clauses.

squares = [x ** 2 for x in range(10,15)]
print(squares)

[100, 121, 144, 169, 196]

In [260]:
# 1.Given two lists, write a function that returns the elements that are common to both lists.

l1 = [1, 2, 3, 4, 5]
l2 = [3, 4, 5, 6, 7]

# def find_common_element(list1,list2):
#     common_element = list(set(list1) & set(list2))
#     return common_element

# find_common_element(l1,l2)

def common_ele(l1,l2):
    result = [x for x in l1 if x in l2]
    return result
print(common_ele(l1,l2))

[3, 4, 5]

In [264]:
# 2. Write a Python function to merge two dictionaries. If both dictionaries have the same key, prefer the second dictionary's value.


dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

def merged_dict(dict1, dict2):
    merged = dict1.copy()
    merged.update(dict2)
    return merged

print(merged_dict(dict1,dict2))

{'a': 1, 'b': 3, 'c': 4}

In [269]:
# 3.Given a list of numbers, write a function to compute the mean, median, and mode.

numbers = [1, 2, 3, 4, 4, 5, 5, 5, 6]
from statistics import mean, median, mode
import numpy as np

def central_measures(numbers):
    return { 'mean' : np.mean(numbers), 'median' : np.median(numbers), 'mode' : mode(numbers)}

print(central_measures(numbers))

{'mean': 3.888888888888889, 'median': 4.0, 'mode': 5}

In [272]:
# 4.Write a function to check if a given string is a palindrome.

def is_pallindorm(my_str):
    if my_str == my_str[::-1]:
        return True

is_pallindorm('radar')

True

In [286]:
# 5.Write a function to compute the factorial of a number using iteration.

num = int(input("Enter the number"))

fact = 1

if num < 0:
    print("factorial dosent exist")

elif num == 0:
    print("factorial is 1")
else:
    for i in range(1,num+1):
        fact = fact * i
    print("The factorial of",num,"is", fact)
        
print("------")

def factorial_it(num):
    result = 1
    for i in range(2, num+1):
        result = result * i
    return result

print(factorial_it(7))

Enter the number 5

The factorial of 5 is 120
------
5040

In [287]:
# Write a program that will convert celsius value to fahrenheit

def ce_to_far(number):
    F = (C * 9/5) + 32
    return F

C = float(input("Enter celsius value u want to convert:"))

result = ce_to_far(C)
print(result)

Enter celsius value u want to convert: 43

109.4

In [291]:
# Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

num1 = int(input("Enter the num1"))

num2 = int(input("Enter the num2"))

num1, num2 = num2, num1
print(num1, num2)

Enter the num1 50
Enter the num2 100

100 50

In [293]:
num1 = int(input("Enter the num1"))

num2 = int(input("Enter the num2"))

temp1 = num1
num1 = num2
num2 = temp1
print(num1, num2)

Enter the num1 3
Enter the num2 6

6 3

In [294]:
# Write a program to find the sum of squares of first n natural numbers where n will be provided by the user

n = int(input("enter the number"))

square = [x ** 2 for x in range(1, n+1)]
print(square)

enter the number 5

[1, 4, 9, 16, 25]

In [298]:
# Pattern program

rows = 5

for i in range(1,rows+1):
    for j in range(1, i+1):
        print("*", end = " ")
    print()

print("----------------------")


rows = 5

for i in range(rows, 0, -1):
    for j in range(1, i+1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
----------------------
* * * * *
* * * *
* * *
* *
*

In [304]:
# Create Short Form from initial character
# Given a string create short form ofthe string from Initial character. Short form should be capitalised.

def short_str(my_str):
    words = my_str.split()
    short_form = "".join(word[0].upper() for word in words)
    return short_form

my_str = input("Enter the strng")
result = short_str(my_str)
print(result)

Enter the strng oh my god

OMG

In [319]:
# Reverse words in a given String

def reverse_word(string):
    words = string.split()
    return ' '.join(words[::-1])

my_str = input("Enter string")
result = reverse_word(my_str)
print(result)

Enter string my name is swetha

swetha is name my

In [321]:
# Write a Python code to create a new list that contains only the even numbers from the given list

n= int(input("Enter the number"))
even_num = [x for x in range(2, n+1, 2)]
print(even_num)

print("-----")
list = [1,2,3,4,5,6,7,8,9,10]
even_nums = [x for x in list if x%2 == 0]
print(even_nums)

-----
[2, 4, 6, 8, 10]

In [324]:
# Write a Python code to create a new list that contains squares of even numbers and cubes of odd numbers from the given list.

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

new_list = [x**2  if x%2==0 else x**3  for x in numbers]
print(new_list)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [325]:
# Write a Python code to create a new list that contains the squares of numbers from 1 to 10.

new_list = [x**2 for x in range(1,11)]
print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [327]:
# Given two lists, create a new list that contains the common elements using list comprehension.

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

commone_ele = [x for x in list1 if x in list2]
print(commone_ele)

[3, 4, 5]

In [329]:
# Given a list of numbers, create a new list that contains the square of each number if it is positive, and zero otherwise.
numbers = [1, -2, 3, -4, 5, -6]

new_list = [x**2 if x >0 else 0 for x in numbers]
print(new_list)

[1, 0, 9, 0, 25, 0]

In [330]:
# Write a list comprehension to extract all the vowels from a given string.

input_string = "hello world"
vowels = [i for i in input_string if i.lower() in 'aeiou']
print(vowels)

['e', 'o', 'o']

In [334]:
# Running Sum on list, Write a program to print a list after performing running sum on it
#Input:

#list1 = [1,2,3,4,5,6]

#Output:

#[1,3,6,10,15,21]

list = [1,2,3,4,5,6]

for i in range(1, len(list)):
    list[i] = list[i] + list[i-1]

print(list)

[1, 3, 6, 10, 15, 21]

In [342]:
# Find list of common unique items from two list. and show in increasing order

num1 = [23,45,67,78,89,34] 
num2 = [34,89,55,56,39,67]

def common_ele(a,b):
    return [x for x in num1 if x in num2]

common_ele(num1, num2)

[67, 89, 34]

In [351]:
# Write a program that can perform union operation on 2 lists
list1 = [1, 2, 3, 4, 5, 1]
list2 = [2, 3, 5, 7, 8]

result =set(list1) | set(list2)
print(result)

{1, 2, 3, 4, 5, 7, 8}

In [352]:

# list1 = [1, 2, 3, 4, 5, 1]
# list2 = [2, 3, 5, 7, 8]

# # Perform union operation
# union_result = list(set(list1) | set(list2))

# print(union_result)

In [353]:
#  Write a program that can find the max number of each row of a matrix
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

max_num = [max(row) for row in matrix]
print(max_num)

[3, 6, 9]

In [360]:
# Check is tuples are same or not? -- Two tuples would be same if both tuples have same element at same index

t1 = (1,2,3,0)
t2 = (1,2,3,0)

def is_tup_same(a,b):
    if len(a) != len(b):
        return False
    for i in range(len(a)):
        if a[i] != b[i]:
            return False
        else:
            return True
    
if is_tup_same(t1,t2):
    print('t1 and t2 are the same')
    
else:
    print('t1 and t2 are not same')

t1 and t2 are the same

In [361]:
# Count no of tuples, list and set from a list

list1 = [{'hi', 'bye'}, {'Geeks', 'forGeeks'}, ('a', 'b'), ['hi', 'bye'], ['a', 'b']]

tuple_count = 0
list_count = 0
set_count = 0
for ele in list1:
    if isinstance(ele, tuple):
        tuple_count += 1
    if isinstance(ele, list):
        list_count += 1
    if isinstance(ele, set):
        set_count += 1

print("Tuple count:", tuple_count)
print("list count:", list_count)
print("set count:", set_count)

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

In [366]:
# Write a program to find set of common elements in three lists using sets.
arr1 = [1,5,10,20,40,80]
arr2 = [6,7,20,80,100]
arr3 = [3,4,15,20,30,70,80,120]

a = set(arr1)
b = set(arr2)
c=set(arr3)

common_elements = a.intersection(b, c)
print(common_elements)

{80, 20}

In [369]:
# Write a Python function that takes a list and returns a new list with unique elements of the first list.

def unique_list(list):
    new_list = set(list)
    return (new_list)

list = [1,2,3,3,3,3,4,5]
result = unique_list(list)
print(result)

{1, 2, 3, 4, 5}

In [383]:
# Write a Python function that accepts a hyphen-separated sequence of words as parameter 
# and returns the words in a hyphen-separated sequence after sorting them alphabetically

def sort_words(input_sequence):
    # Split the hyphen-separated sequence into a list of words
    words_list = input_sequence.split('-')
    
    # Sort the list of words alphabetically
    sorted_words = sorted(words_list)
    
    # Join the sorted words into a hyphen-separated sequence
    result_sequence = '-'.join(sorted_words)
    
    return result_sequence

# Example 
input_sequence = "green-red-yellow-black-white"
output_sequence = sort_words(input_sequence)
print(output_sequence)

TypeError: 'NoneType' object is not callable

In [392]:
# Write a Python program to print the even numbers from a given list.

def even_num(sample):
    return [x for x in sample if x%2 == 0]

sample = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(even_num(sample))

[2, 4, 6, 8]

In [398]:
# Write a Python function to concatenate any no of dictionaries to create a new one.

def concatinate_dictonaries(*dict):
    dict_4 = {}
    for d in dict:
        dict_4.update(d)
    return dict_4
        

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

result = concatinate_dictonaries(dic1, dic2,dic3)
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [405]:
def merge_sorted_lists(list1, list2):
    merged_list = sorted(list1 + list2)
    return merged_list

list1 = [1, 3, 5]
list2 = [2, 4, 6]
result = merge_sorted_lists(list1, list2)
print(result)

TypeError: 'NoneType' object is not callable